@use "./variable" as *;







.touch{
    background-color:$dark-background-color ;
}
.touch > div{
    display: flex;
    justify-content: space-between
    ;
    padding: 50px 0;
}
.touch_txt{
    h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 1.425;
        letter-spacing: 0.01em;
        color: #fff; 
    }
    p{
        font-weight: 500;
font-size: 14px;
line-height: 1.42857;
letter-spacing: 0.01em;
color: #fff;
    }
}
.send{
    display: flex;
    align-items: center;
    input{
        border: 1px solid #e6e6e6;
        padding: 18px 20px;
        border-radius:  5px 0 0 5px ;
        outline: none;
        border: none;
    }
}
.btn_touch{
    background-color: $primary-color;
    font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.01em;
text-align: center;
color: #fff;
border: 1px solid #e6e6e6;
border-radius: 0 5px 5px 0;
padding: 15px 20px;
}